%h1 Hospital Patient Status
= link_to "Create New Patient", new_hospital_patient_path
%br/
= link_to "Home", root_path
%br
- @patient.each do |patient|
  = patient.first_name
  = patient.last_name
  = patient.dob
  = patient.gender
  = patient.description
  %strong= patient.workflow_state
  = link_to "Medications", hospital_patient_medications_path(@hospital, patient)
  = link_to "Edit", edit_hospital_patient_path(@hospital, patient)
  = link_to "Delete", hospital_patient_path(@hospital, patient), method: :delete
  %br/
