%nav.navbar.navbar-inverse{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          - if user_signed_in?
            = content_tag(:a, current_user.email)
          - else
            = link_to "Log In", new_user_session_path
          - if user_signed_in?
            %li.active
              = link_to "Home", root_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Hospital
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li.dropdown-header{:role => "presentation"} Current Hospital
                %li
                  = link_to "#{@hospital.name}'s Data", hospital_path(@hospital)
                %li.divider
                %li
                  = link_to "Hospitals Home", hospitals_path
              %li
                = link_to "Add Patient", new_hospital_patient_path(@hospital)
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            User Profile
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "Edit Profile", edit_user_registration_path
            %li
              = link_to "Log Out", destroy_user_session_path, method: :delete
%h1 Hospital Patient
- total = 0
%ul
- Patient.all.each_slice(3) do |patient_g|
  - total += 1
  - patient_g.each do |patient|    
    %li{class: "#{'hidden' if total >= 2} total#{total} patient_list"}
      = patient.first_name
      = patient.last_name
      = patient.dob
      = patient.gender
      = patient.description
      %strong= patient.workflow_state
      = link_to "Medications", hospital_patient_medications_path(@hospital, patient)
      = link_to "Edit", edit_hospital_patient_path(@hospital, patient)
      = link_to "Delete", hospital_patient_path(@hospital, patient),method: :delete
  - total.times do |x|
    = link_to x + 1, "javascript:void(0);", class: "new_page"
  




